<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Enable proper display on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Welcome to the World of Karida Clarke">
    <meta name="author" content="">
    <title>The World of Karida Clarke</title>

    <!-- Favicon -->
    <link href="{{ 'img/favicon.ico' | absolute_url }}" rel="icon" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="{{ 'lib/bootstrap_3_1_0/css/bootstrap.min.css' | absolute_url }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ 'css/main.css' | absolute_url }}" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include biography.html %}

    {% include footer.html %}

  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ 'lib/bootstrap_3_1_0/js/bootstrap.min.js' | absolute_url }}"></script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47914906-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
